<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Estimation:</b>
  <%= @story.estimation %>
</p>

<p>
  <b>Type:</b>
  <%= @story.type %>
</p>

<p>
  <b>Project:</b>
  <%= @story.project_id %>
</p>

<p>
  <b>User:</b>
  <%= @story.user_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
